name: Node.js CI

on:
  push:
    branches: ['main']

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      # 1. Checkout code
      - uses: actions/checkout@v4
        with:
          ref: refs/heads/main

      # 2. Cài đặt Node.js theo version
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix['node-version'] }}
          cache: 'npm'

      # 3. Cài dependencies
      - run: npm ci --legacy-peer-deps

      # 4. Tạo file .env
      - name: Create .env file
        run: |
          echo "AZURE_AD_CLIENT_ID=${{ secrets.AZURE_AD_CLIENT_ID }}" >> .env
          echo "AZURE_AD_TENANT_ID=${{ secrets.AZURE_AD_TENANT_ID }}" >> .env
          echo "AZURE_AD_CLIENT_SECRET=${{ secrets.AZURE_AD_CLIENT_SECRET }}" >> .env
          echo "NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}" >> .env
          echo "NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}" >> .env
          echo "DASHSCOPE_API_KEY=${{ secrets.DASHSCOPE_API_KEY }}" >> .env
          echo "DASHSCOPE_BASE_URL=${{ secrets.DASHSCOPE_BASE_URL }}" >> .env
          echo "POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}" >> .env
          echo "POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}" >> .env
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "NEXT_PUBLIC_API_BASE_URL=${{ secrets.NEXT_PUBLIC_API_BASE_URL }}" >> .env

          echo "MINIO_ENDPOINT=${{ secrets.MINIO_ENDPOINT }}" >> .env
          echo "MINIO_ENDPOINT_PUBLIC=${{ secrets.MINIO_ENDPOINT_PUBLIC }}" >> .env
          echo "MINIO_PORT=${{ secrets.MINIO_PORT }}" >> .env
          echo "MINIO_ACCESS_KEY=${{ secrets.MINIO_ACCESS_KEY }}" >> .env
          echo "MINIO_SECRET_KEY=${{ secrets.MINIO_SECRET_KEY }}" >> .env
          echo "MINIO_BUCKET_NAME=${{ secrets.MINIO_BUCKET_NAME }}" >> .env

      # 5. Export biến môi trường để các bước shell sau sử dụng được
      - name: Export environment variables
        run: |
          export $(cat .env | xargs)
        shell: bash

      # 6. Kiểm tra biến môi trường
      - name: Check environment variables
        run: |
          echo "DASHSCOPE_API_KEY=$DASHSCOPE_API_KEY"
          echo "DASHSCOPE_BASE_URL=$DASHSCOPE_BASE_URL"
        shell: bash

      # 7. Build ứng dụng
      - name: Build project
        run: npm run build
        shell: bash

      # 8. Restart PM2
      - name: Restart PM2 with env
        run: |
          pm2 restart research-web --update-env
        shell: bash
