name: Node.js CI

on:
  push:
    branches: ['main']

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/1

    steps:
      - uses: actions/checkout@v4
        with:
          ref: refs/heads/main
       # Sử dụng GitHub Secrets làm biến môi trường
      - run: npm ci --legacy-peer-deps
      - name: create .env file
        run: |
          echo "TENANT_ID=${{ secrets.TENANT_ID }}" >> .env
          echo "CLIENT_ID=${{ secrets.CLIENT_ID }}" >> .env
          echo "APP_SECRET=${{ secrets.APP_SECRET }}" >> .env
          echo "AUTH_SECRET=${{ secrets.AUTH_SECRET }}" >> .env
          echo "NEXTAUTH_URL=https://research.neu.edu.vn" >> .env
      - name: Check environment variables
        run: |
          echo $TENANT_ID
          echo $CLIENT_ID
      - run: npm run build
      - run: pm2 restart research-web
